
@{
    ViewBag.Title = "Colors";
}

<section class="colors">
    <article>
        <h2>
            Color Demos
        </h2>
        <p id="colordemo1">
            <span>Hexadecimal:</span> This is an example of using hexadecimal coloring in CSS.
        </p>
        <p id="colordemo2">
            <span>Hex shorthand:</span> This is an example of using hex short shorthand coloring in CSS.
        </p>
        <p id="colordemo3">
            <span>RGB:</span> This is an example of using RGB values for coloring in CSS.
        </p>
        <p id="colordemo4">
            <span>RGBA:</span> This is an example of using RGBA values for coloring in CSS.
        </p>
        <p id="colordemo5">
            <span>Named colors:</span> This is an example of using named colors in CSS.
        </p>
    </article>
    <article>
        <h2>
            Color Gradients
        </h2>
        <p id="colorGradient1">
            <span>Linear gradient:</span> This is an example of a linear gradient.
        </p>
        <p id="colorGradient2">
            <span>Radial gradient:</span> This is an example of a radial gradient.
        </p>
    </article>
</section>
<aside>
    <h2>
        Topics
    </h2>
    <ul class="asideList">
        <li>
            <a href="Colors.html">Colors</a>
        </li>
        <li>
            <a href="Fonts.html">Fonts</a>
        </li>
        <li>
            <a href="Images.html">Images</a>
        </li>
    </ul>
    <h2>
        Resources
    </h2>
    <ul class="asideList">
        <li>
            <a href="https://color.adobe.com">Adobe Color CC</a>
        </li>
        <li>
            <a href="http://www.colorzilla.com/gradient-editor/">Gradient Generator</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/css/css3_gradients.asp">W3Schools Color Gradients</a>
        </li>
    </ul>
</aside>

<ul class="asideList">
    <li>
        <a href="Colors.html">Colors</a>
    </li>
    <li>
        <a href="Fonts.html">Fonts</a>
    </li>
    <li>
        <a href="Images.html">Images</a>
    </li>
</ul>